.project {
  display: flex;
  height: 100vh;
}

li:nth-of-type(6) > a {
  color: #ffaf00;
}

.projectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 229, 255);
}

li:nth-of-type(1) > a {
  color: white;
}

li:nth-of-type(1) > a:hover {
  color: #ffaf00;
}
